<nav class="navbar navbar-expand-md navbar-inverse navbar-dark topbar" role="navigation">
  <div class="container">
    <%= link_to application_name, "/", class: 'navbar-brand navbar-logo' %>
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
    <!--<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#user-util-collapse" aria-controls="user-util-collapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>-->

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
      	<li class="nav-item dropdown">
	      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
	        Collections <span class="caret"></span>
	      </a>
	      <div class="dropdown-menu">
	        <a class="dropdown-item" href="<%= request.base_url + "/description" %>">About Collections</a>
	        <a class="dropdown-item" href="<%= request.base_url + "/description/repositories/apap" %>">NY State Modern Political Archive</a>
	        <a class="dropdown-item" href="<%= request.base_url + "/description/repositories/ndpa" %>">National Death Penalty Archive</a>
	        <a class="dropdown-item" href="<%= request.base_url + "/description/repositories/ger" %>">German Intellectual Émigré</a>
	        <a class="dropdown-item" href="<%= request.base_url + "/description/repositories/ua" %>">University Archives</a>
	        <a class="dropdown-item" href="<%= request.base_url + "/books?f[collecting_area_ssim][]=Mathes+Childrens+Literature" %>">Mathes Childrens Literature</a>
	        <a class="dropdown-item" href="<%= request.base_url + "/description/repositories/mss" %>">Business and Literary Manuscripts</a>
	        <a class="dropdown-item" href="<%= request.base_url + "/books" %>">Rare Books</a>
	        <a class="dropdown-item" href="https://archives.albany.edu/web/webarchives">Web Archives</a>
	        <div class="dropdown-divider"></div> 
	        <a class="dropdown-item" href="<%= request.base_url + "/description/repositories/all" %>">A-Z Complete List of Collections</a>
	        <a class="dropdown-item" href="<%= request.base_url + "/description/repositories/sub" %>">Subject Guides to Collections</a>
	      </div>
	    </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                Online Content
              </a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="<%= request.base_url + "/exhibits" %>">Online Exhibits</a>
                <a class="dropdown-item" href="<%= request.base_url + "/espy" %>">Espy Project Execution Records</a>
                <a class="dropdown-item" href="<%= request.base_url + "/selections/uaphotos" %>">University Photograph Collections</a>
                <a class="dropdown-item" href="<%= request.base_url + "/selections/asp" %>">Albany Student Press</a>
                <a class="dropdown-item" href="<%= request.base_url + "/selections/senate" %>">University Senate Legislation</a>
                <a class="dropdown-item" href="<%= request.base_url + "/selections/yearbooks" %>">Yearbook Collection</a>
                <a class="dropdown-item" href="<%= request.base_url + "/selections/milne" %>">The Milne School</a>
                <a class="dropdown-item" href="<%= request.base_url + "/selections/wamc" %>">WAMC Northeast Public Radio</a>
                <a class="dropdown-item" href="<%= request.base_url + "/selections/csea" %>">CSEA Publications</a>
                <a class="dropdown-item" href="<%= request.base_url + "/selections" %>">More...</a>
              </div>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                About
              </a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="<%= request.base_url + "/visit" %>">Using the Archives</a>
                <a class="dropdown-item" href="<%= request.base_url + "/directions" %>">Hours and Directions</a>
                <a class="dropdown-item" href="<%= request.base_url + "/blog" %>">News Updates</a>
                <a class="dropdown-item" href="<%= request.base_url + "/ua/faq" %>">University Records</a>
                <a class="dropdown-item" href="<%= request.base_url + "/historicalresources" %>">Find Other Historical Repositories</a>
                <a class="dropdown-item" href="<%= request.base_url + "/awards" %>">Awards</a>
                <a class="dropdown-item" href="<%= request.base_url + "/staff" %>">Staff</a>
                <a class="dropdown-item" href="https://wiki.albany.edu/pages/viewpage.action?pageId=80544001">Documentation Site</a>
              </div>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="https://albany.libwizard.com/f/contactus?i_have_a_questi=Special%20Collections%20%26%20Archives">Contact</a>
            </li>	    
      </ul>
    </div>
  </div>
</nav>
