<%# form_tag search_form_action, method: :get, id: "search-form-header", role: "search" do %>
<%= form_tag "https://archives.albany.edu/search", method: :get, id: "search-form-header", role: "search" do %>
  <%= render_hash_as_hidden_fields(search_state.params_for_search.except(:q, :search_field, :qt, :page, :utf8)) %>
  <%= hidden_field_tag :search_field, 'all_fields' %>
  <div class="input-group">

    <label class="sr-only" for="search-field-header"><%= t("hyrax.search.form.q.label", application_name: application_name) %></label>
    <%= text_field_tag :q, current_search_parameters , class: "q form-control", id: "search-field-header", placeholder: t("hyrax.search.form.q.placeholder") %>

    <div class="input-group-btn">
      <button type="submit" class="btn btn-primary" id="search-submit-header">
        <%# t('hyrax.search.button.html') %>
        <span class="glyphicon glyphicon-search"></span>
      </button>

    </div><!-- /.input-group-btn -->

  </div><!-- /.input-group -->
<% end %>
