<!DOCTYPE html>
<html lang="<%= t("hyrax.document_language", default: '') %>" prefix="og:http://ogp.me/ns#">
  <head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-TT7MCFB');</script>
    <!-- End Google Tag Manager -->

    <%= render partial: 'layouts/head_tag_content' %>
    <%= content_for(:head) %>
  </head>

  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TT7MCFB"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <!--<div class="skip-to-content">
      <%= link_to "Skip to Content", "#skip-to-content", data: { turbolinks: false } %>
    </div>-->
    <%= render '/ua_masthead' %>
    <%= render '/search_subnav' %>
    <%# content_for(:navbar) %>
    <%= content_for(:precontainer_content) %>
    <div id="content-wrapper" class="container withSpacer" role="main">
      <%= render '/flash_msg' %>

      <!--<%= render_breadcrumbs builder: Hyrax::BootstrapBreadcrumbsBuilder %>-->
      <%# render '/custom_util_links' %>

      <% if content_for?(:page_header) %>
        <div class="row">
          <div class="col-xs-12 main-header">
            <%= yield(:page_header) %>
          </div>
        </div>
      <% end %>

        <a name="skip-to-content" id="skip-to-content"></a>
        <%= content_for?(:content) ? yield(:content) : yield %>

    </div><!-- /#content-wrapper -->
    <%= render 'shared/footer' %>
    <%= render 'shared/ajax_modal' %>
  </body>
</html>
