<% presenter.title.each_with_index do |title, index| %>
  <div class="row">
    <% if presenter.editor? %>
      <div class="col-sm-8">
        <h2 itemprop="name">
        <% if index == 0 %>
          <%= title %>
          <small class="text-muted"><%= presenter.permission_badge %> <%= presenter.workflow.badge %></small>
        <% else %>
          <%= title %>
        <% end %>
        </h2>
      </div>
      <div class="col-sm-4 text-right">
        <%= render "show_actions", presenter: presenter %>
      </div>
    <% else %>
      <div class="col-sm-12">
        <% if index == 0 %>
          <h2 itemprop="name"><%= title %>
            <!--<small class="text-muted"><%= presenter.permission_badge %> <%= presenter.workflow.badge %></small>-->
          </h2>
        <% else %>
          <h2 itemprop="name"><%= title %></h2>
        <% end %>
      </div>
    <% end %>
    
  </div>
<% end %>