<% provide :page_title, @presenter.page_title %>

<%= render partial: 'grenander/search_row' %>

<%= render 'shared/citations' %>

<% if 1 == 2 %> 
<% if breadcrumbs[1] %>
  <% if breadcrumbs[1].try(:path) %>
    <% if breadcrumbs[1].path.split("q=")[1] %>
      <script>
        $(document).ready(function(){
          $('#pdfViewer').load(function() {
            var pdfjsframe = document.getElementById('pdfViewer');
            pdfjsframe.contentWindow.PDFViewerApplication.findBar.open()
            var query = decodeURIComponent("<%= breadcrumbs[1].path.split("q=")[1].gsub('+', ' ') %>");
            $(pdfjsframe.contentWindow.PDFViewerApplication.findBar.findField).val(query.replace(/['"]+/g, ''));
            pdfjsframe.contentWindow.PDFViewerApplication.findBar.dispatchEvent('');
          });
        });
      </script>           
    <% end %>
  <% end %>
<% else %>
  <script>
    $(document).ready(function(){
      if (window.location.search.indexOf('find') > -1) {
        var query = new RegExp('[\?&]' + 'find' + '=([^&#]*)').exec(window.location.href)[1];
        if (query !== null) {
          $('#pdfViewer').load(function() {
            var pdfjsframe = document.getElementById('pdfViewer');
            pdfjsframe.contentWindow.PDFViewerApplication.findBar.open()
            $(pdfjsframe.contentWindow.PDFViewerApplication.findBar.findField).val(decodeURIComponent(query).replace(/['"]+/g, ''));
            pdfjsframe.contentWindow.PDFViewerApplication.findBar.dispatchEvent('');
          });
        }
      }
    });
  </script>
<% end %>
<% end %>


<div class="row work-type">
	<div <%= @presenter.microdata_type_to_html %>>

		<div class="col-xs-12 col-md-8 col-md-push-4">
	    		<div class="panel item-panel">
				<div class="panel-heading">
					<div class="right-btns">
						<%= render '/custom_util_links' %>		
						<% if not @presenter.universal_viewer? %>
							<%= render 'top_download_btns' %>
						<% end %>
					</div>

					<div class="arclightBreadcrumbs">
                        			<%= render 'work_type', presenter: @presenter %>
                			</div>
				</div>

				<div class="panel-body">

					<%= render 'workflow_actions_widget', presenter: @presenter %>

					<% if @presenter.universal_viewer? %>
						<div class="">
              						<%= render 'representative_media', presenter: @presenter, viewer: true %>
            					</div>
					<% else %>
						<div class="text-center">
              						<%= render 'representative_media', presenter: @presenter, viewer: false unless @presenter.universal_viewer? %>
            					</div>
					<% end %>
				</div>
		</div>
	    </div>
        </div>

	<div class="col-xs-12 col-md-4 col-md-pull-8">
	    <div class="panel context-panel">
		<%= render 'collection-panel-title', presenter: @presenter %>		
		<div class="panel-body metadataFields">
			<%= render 'work_title', presenter: @presenter %>
                	<%= render 'metadata', presenter: @presenter %>
                	<%= render 'citations', presenter: @presenter %>
                	<%= render 'social_media' %>
			<div class="clearfix"></div>
		</div>
            </div>
	</div>

	<div class="col-xs-12">
            <div class="panel">
		<div class="panel-body">
	    	<% if @presenter.editor? %>
              		<%= render 'relationships', presenter: @presenter %>
            	<% end %>
            	<%= render 'items', presenter: @presenter %>
            	<%# TODO: we may consider adding these partials in the future %>
            	<%#= render 'sharing_with', presenter: @presenter %>
            	<%#= render 'user_activity', presenter: @presenter %>
		</div>
	    </div>
	</div>
</div>
